<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
    <link rel="stylesheet" href="/css/employees.css">
</head>
<body>
    <%- include('./partials/navbar.ejs'); %>

    <div class="container">
        <div class="header">
            <h1>Employees List</h1>
            <button id="create" class="btn-create">Create Employee</button>
        </div>
        <ul id="employeesList" class="employees-list">
            <!-- Employee items will be inserted here -->
        </ul>
    </div>
    <script src="/js/employees.js"></script>
</body>
</html>